{% extends 'products/base.html' %}
{% block content %}
<section class="row">
	<div class="grid">
	<h1>Products</h1>
		{% if products %}
			{% for product in products %}
				<section class="teaser col-1-3">
					<div class="speaker-info">
						<a href="{% url 'products:product' product.id %}">
							<img src="{{ MEDIA_URL }}{{ product.small_img }}" alt={{ product.name }}>
							<h3>{{ product.name }}</h3>
						</a>
						<p>Rs. {{ product.price }}</p>
					</div>
				</section>
			{% endfor %}
		{% else %}
			<section class="teaser col-1-3">
				<p>No Products Found.</p>
			</section>
		{% endif %}
			
	</div>
</section>
{% endblock %}