{% extends 'products/base.html' %}
{% block content %}
	<section class="hero container">
	</section>
	<section class="row">
		<div class="grid">
		
			{% if product %}
				<section class="speaker" id="aaron-irizarry">

	          	<div class="col-2-3">

	            <h2>{{ product.name }}</h2>
	            <h5></h5>

	            <h5>Description</h5>

	            <p>{{ product.description }}</p>

	          </div><!--

	          --><aside class="col-1-3">
	            <div class="speaker-info">
	              <img src="{{MEDIA_URL}}{{product.small_img}}" alt={{ product.name}}>
	              <ul>
	                <li>{{ product.name }}</li>
	              </ul>

	            </div>
	          </aside>

	        </section>
			{% else %}
				<section class="teaser col-1-3">
					<p>No Product Found.</p>
				</section>
			{% endif %}
				
		</div>
	</section>
{% endblock %}